<mat-toolbar class="toolbar">
    <div class="container">
        <div class="row">
          <div class="col-0">
            <span class="material-icons">assignment</span>
          </div>
          </div>
    </div>
    <mat-card-title>{{titulo}}</mat-card-title>

    <mat-icon class="button pointer" title="Cerrar" (click)="closeDialog()">close</mat-icon>
</mat-toolbar>
<mat-card-content>
    <div class="container">
        <form class="form-inline mt-2" [formGroup]="formGroup" #archivarForm="ngForm"
            (ngSubmit)="onSubmit1(archivarForm)">
            <div class="container text-center">
                <div class="row mt-3">
                    <div class="col">
                     
                        <label class="label">Quedó Conforme con la Información suministrada</label>
                        <input type="radio"  value="SI" [(ngModel)]="encuestas.quiz_one" formControlName="quiz_one" style="margin-right: 0.5rem;" required>SI
                        <input type="radio" class="left" value="NO" [(ngModel)]="encuestas.quiz_one" formControlName="quiz_one" style="margin-right: 0.5rem;" required>NO

                        <label class="label">Evaluando la calidad del ChatBot, como lo identificaría</label>
                        <input type="radio" class="rigth" value="BUENO" [(ngModel)]="encuestas.quiz_two" formControlName="quiz_two" style="margin-right: 0.5rem;" required>Bueno
                        <input type="radio" class="left" value="MALO" [(ngModel)]="encuestas.quiz_two" formControlName="quiz_two" style="margin-right: 0.5rem;"  required>Malo

                        <label class="label">Volvería a recurrir a preguntarle algo al ChatBot</label>
                        <input type="radio" class="rigth" value="SI" [(ngModel)]="encuestas.quiz_three" formControlName="quiz_three" style="margin-right: 0.5rem;" required>SI
                        <input type="radio" class="left" value="NO" [(ngModel)]="encuestas.quiz_three" formControlName="quiz_three"  style="margin-right: 0.5rem;" required>NO
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="submit" value="Guardar" class="btn btn-primary mb-2"
                            style="background-color: #006595;" [disabled]="!archivarForm.form.valid">Guardar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</mat-card-content>