<div class="sidebar" data-color="azure" data-background-color="white">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background" style="background-color:   blue"></div>
</div>
<div class="main-panel">
    <app-navbar></app-navbar>
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <mat-card>
                        <mat-card-header class="toolbar mat-elevation-z8">
                            <mat-toolbar class="toolbar">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-0">
                                            <span class="material-icons">post_add</span>
                                        </div>
                                        <div class="col-5">
                                            <mat-card-title style="color: rgb(252, 248, 248);">{{titulo}}
                                            </mat-card-title>
                                        </div>
                                    </div>
                                </div>
                                <span class="toolbar-spacer"></span>
                                Nuevo<mat-icon title="Crear" (click)="openDialog()" class="pointer">add</mat-icon>
                            </mat-toolbar>
                        </mat-card-header>
                        <mat-table [dataSource]="dataSource" matSort>
                            <ng-container matColumnDef="Aiml If">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Aiml If </mat-header-cell>
                                <mat-cell *matCellDef="let aimlIf1"> {{aimlIf1.aimlIf}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="Modificar">
                                <mat-header-cell *matHeaderCellDef> Modificar </mat-header-cell>
                                <mat-cell *matCellDef="let aimlIf1">
                                    <mat-icon class="pointer" title="Editar" (click)="openDialog1(aimlIf1)">editar
                                    </mat-icon>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="Eliminar">
                                <mat-header-cell *matHeaderCellDef> Eliminar </mat-header-cell>
                                <mat-cell *matCellDef="let aimlIf1">
                                    <mat-icon (click)="Borrar(aimlIf1)" title="Borrar" class="pointer">delete
                                    </mat-icon>
                                </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"> </mat-row>
                        </mat-table>
                        <div class="container">
                            <div class="row">
                                <div class="col-5">
                                </div>
                                <div class="col">
                                    <div *ngIf="aimlIf1==0">
                                        <mat-spinner></mat-spinner>
                                    </div>
                                </div>
                                <div class="col-5">
                                </div>
                            </div>
                        </div>
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>