.toolbar{
	color:white;
	background-color: #004e82;
    align-items: center;
    
}
.row{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.example-viewport {
    height: 200px;
    width: 100%;
    /* border: 1px solid black; */
  }
  
.tabla{
    max-width: 100%;
}
.toolbarEdit{
	color:white;
	background-color: #004e82;
    border-radius: 1rem;
    align-items: center;
    width: 90%;
    margin-left: 1.5rem;
    margin-top: 2rem;
}
.toolbar-spacer {
    flex : 2  1 auto;
}
.card2{
    max-width: 400px;
}
.button{
    cursor: pointer;
}
table {
    width: 100%;
  }

  .mat-tab-group {
    margin-bottom: 48px;
  }