<mat-toolbar class="toolbar">
    <mat-card-title>{{ title }}</mat-card-title>
    <span class="toolbar-spacer"></span>
    <mat-icon class="button" title="Cerrar" (click)="closeDialog()">close</mat-icon> 

</mat-toolbar>

<mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="formGroup">
        <form [formGroup]="formGroup">

            <ng-template matStepLabel>Registre el Cliente</ng-template>
            <div class="row">
                <div class="col-md-5">
                    <mat-form-field class="example-full-width">
                        <input matInput type="text" placeholder="Email" [formControl]="email" name="email"
                            [errorStateMatcher]="matcher">
                        <mat-error *ngIf="email.hasError('pattern') && !email.hasError('required')">
                            Ingrese un Email Valido
                        </mat-error>
                        <mat-error *ngIf="email.hasError('required')">
                            Email es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-5">
                    <mat-form-field class="example-full.width">
                        <input matInput type="password" placeholder="Contraseña" [formControl]="password"
                            name="password" [errorStateMatcher]="matcher">
                        <mat-error *ngIf="password.hasError('pattern') && !password.hasError('required')">
                            Ingrese un Contraseña Valida <br />
                            Minimo 8 Caracteres <br />
                            1 Letra en Mayuscula <br />
                            1 Numero <br />
                            1 Caracter Especial
                        </mat-error>
                        <mat-error *ngIf="password.hasError('required')">
                            La Contraseña es <strong>Requerida</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <mat-form-field look="fill">
                        <mat-select placeholder="País" formControlName="id_country" name="id_country"
                            [errorStateMatcher]="matcher">
                            <mat-option *ngFor="let pais of paises" [value]="pais.id">
                                {{pais.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="id_country.hasError('required')">
                            País es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div>
                <button mat-button class="button" matStepperNext (click)="saveClient()">Siguiente</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="dataFormGroup" label="Datos del Cliente">
        <form [formGroup]="dataFormGroup">
            <div class="row">
                <div class="col-md-5">
                    <mat-form-field class="example-full-width">
                        <input matInput type="text" placeholder="Nombres" [formControl]="names" name="names" multiple
                            [errorStateMatcher]="matcher">
                        <mat-error *ngIf="names.hasError('required')">
                            Nombres es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-5">
                    <mat-form-field class="example-full-width">
                        <input matInput type="text" placeholder="Apellidos" [formControl]="last_names" name="last_names"
                            multiple [errorStateMatcher]="matcher">
                        <mat-error *ngIf="names.hasError('required')">
                            Los Apellidos Son <strong>requeridos</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <mat-form-field class="example-full-width">
                        <input matInput type="text" placeholder="Cédula" [formControl]="identification_card" name="identification_card" [errorStateMatcher]="matcher">
                        <mat-error *ngIf="identification_card.hasError('pattern') && !identification_card.hasError('required')">
                            Ingrese un Cédula Valido
                         </mat-error>
                         <mat-error *ngIf="identification_card.hasError('required')">
                            Cédula es <strong>requerido</strong>
                         </mat-error> 
                    </mat-form-field>
                </div>
                <div class="col-md-5">
                    <mat-form-field class="example-full-width">
                            <input matInput type="text" placeholder="Número Móvil" [formControl]="mobile_phone" name="mobile_phone" [errorStateMatcher]="matcher">
                            <mat-error *ngIf="mobile_phone.hasError('pattern')">
                                Formato Invalido <strong>1234567891234</strong>
                            </mat-error> 
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <mat-form-field class="example-full-width">
                        <input matInput [matDatepicker]="picker" [min]="minDate" [max]="maxDate" placeholder="Fecha de Nacimiento" [formControl]="birth_date" name="birth_date" [errorStateMatcher]="matcher">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="birth_date.hasError('required')">
                            <strong>MM/DD/YYYY</strong>
                        </mat-error>  
                    </mat-form-field>
                </div>
            </div>
            <div>
                <button mat-button matStepperPrevious class="button">Atras</button>
                <button mat-button matStepperNext (click)="saveData()" class="button">Siguiente</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel >Confirma</ng-template>
        <p>¿Esta Usted seguro de crear el cliente?</p>
        <div>
            <button mat-button matStepperPrevious class="button">Atras</button>
            <button mat-button (click)="create()" class="button">Crear</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>