<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:void(0)">
              <img class="img" src="./assets/img/faces/aiml.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title">AIML</h4>
            <p class="card-description">
              Esta tabla posee {{aiml}} registro.
            </p>
            <a href="javascript:void(0)" class="btn btn-info btn-round" [routerLink]="'/aiml-table'">VER</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:void(0)">
              <img class="img" src="./assets/img/faces/chat.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title">AIML IF</h4>
            <p class="card-description">
              Esta tabla posee {{aimlIf}} registro.
            </p>
            <a href="javascript:void(0)" class="btn btn-info btn-round" [routerLink]="'/aiml-if'">VER</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>