.toolbar{
	color:white;
	background-color: #004e82;
    border-radius: 1rem;
    margin-bottom: 1rem;
    align-items: center;
}
.toolbar-spacer {
    flex : 2  1 auto;
}
.mat-calendar-body-selected {
	background-color: #004e82;
}
.mat-form-field-suffix {
    margin-right: 20%;
}
.mat-select-arrow {
    margin-right: 4rem;
}
.button{
    cursor: pointer;
    color: white;
    background-color:#004e82 !important;
    margin-left: 1rem;
    margin-top: 1rem;
}
.mat-card-title {
    margin-top: 1.5rem;
}

