<mat-toolbar class="toolbar">
    <mat-card-title>{{ title }}</mat-card-title>
    <span class="toolbar-spacer"></span>
    <mat-icon class="button" title="Cerrar" (click)="closeDialog()">close</mat-icon>
</mat-toolbar>

<mat-card-content>
<div class="container">
<mat-tab-group animationDuration="1000ms" dynamicHeight>
    <mat-tab label="Editar Cliente">
        <form [formGroup]="formGroup" #archivarForm="ngForm" (ngSubmit)="edit(archivarForm)"
            style="margin-top: 1rem;">
            <div class="row">
                <div class="col-md-5">
                    <mat-form-field class="example-full-width">
                        <input matInput type="text" placeholder="Email" formControlName="email" name="email">
                    </mat-form-field>
                </div>
                <mat-form-field class="example-full-width ml-2">
                    <div class="form">
                        <input matInput type="password" placeholder="Contraseña" formControlName="password"
                            name="password" required>
                    </div>
                </mat-form-field>
            </div>
            <div class="row">
                <div class="text-center">

                    <mat-form-field look="fill">
                        <div class="select">
                            <mat-select placeholder="País" formControlName="id_country" name="id_country" required>
                                <mat-option *ngFor="let pais of paises" [value]="pais.id">
                                    {{pais.name}}
                                </mat-option>
                            </mat-select>
                        </div>
                    </mat-form-field>
                </div>
            </div>
            <div class="text-center">
                <button mat-raised-button type="submit"  class="button">
                    Actualizar
                </button>
            </div>
        </form>
    </mat-tab>
    <mat-tab label="Editar Datos Cliente">
        <form [formGroup]="dataFormGroup" #archivarForm="ngForm" 
            style="margin-top: 1rem;">
            <div class="row">
                <div class="col-md-5">
                    <mat-form-field class="example-full-width">
                        <input matInput type="text" placeholder="Nombre" formControlName="names" name="names" >
                    </mat-form-field>
                </div>
                <div class="col-md-5">
                    <mat-form-field class="example-full-width">
                        <input matInput type="text" placeholder="Apellidos" formControlName="last_names" 
                            name="last_names">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <mat-form-field class="example-full-width">
                        <input matInput type="text" formControlName="identification_card" placeholder="Cédula" 
                            name="identification_card">
                    </mat-form-field>
                </div>
                <div class="col-md-5">
                    <mat-form-field class="example-full-width">
                        <input matInput type="text" formControlName="mobile_phone" placeholder="Número Móvil" 
                            name="mobile_phone">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <mat-form-field class="example-full-width">
                        <input matInput [matDatepicker]="picker" formControlName="birth_date" [min]="minDate"
                            [max]="maxDate" placeholder="Fecha de Nacimiento" name="birth_date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="text-center">
                <button mat-raised-button type="button" (click)="editData(_clientes)" class="button">
                    Actualizar
                </button>
            </div>
        </form>
    </mat-tab>
</mat-tab-group>
</div>
</mat-card-content>
