// 1-->Fondo Header,MessageUser
// 2-->Letras Header, MessageUser
// 3-->Fondo Chat
// 4-->Fondo MessageBot, filter
// 5--> Boton, escribiendo
// 6--> Minimizar
//////////////////Yellow//////////////////
%yellow1 {
  background-color: #FFFF00;
}

%yellow2 {
  color: #616161;
  font-weight: 500;
}

%yellow3 {
  background-color: white;
}

%yellow4 {
  background-color: #a1a1a48c;
  color           : black;
}

%yellow5 {
  color      : #FFFF00;
  font-weight: 800;
}

%yellow6 {
  background-color: #616161;
}

//////////////////Blue/////////////////////
%blue1 {
  background-color: #004a47;
}

%blue2 {
  color: white;
}

%blue3 {
  background-color: white;
}

%blue4 {
  background-color: #a1a1a48c;
  color           : black;
}

%blue5 {
  color: #003437;
}

%blue6 {
  background-color: white;
}

///////////Orange///////////////////
%orange1 {
  background-color: orange;
}

%orange2 {
  color: white;
}

%orange3 {
  background-color: white;
}

%orange4 {
  background-color: #a1a1a48c;
  color           : black;
}

%orange5 {
  color: orange;
}

%orange6 {
  background-color: white;
}

///////////Green///////////////////
%green1 {
  background-color: green;
}

%green2 {
  color: white;
}

%green3 {
  background-color: white;
}

%green4 {
  background-color: #a1a1a48c;
  color           : black;
}

%green5 {
  color: green;
}

%green6 {
  background-color: white;
}

///////////Purple///////////////////
%purple1 {
  background-color: purple;
}

%purple2 {
  color: white;
}

%purple3 {
  background-color: white;
}

%purple4 {
  background-color: #a1a1a48c;
  color           : black;
}

%purple5 {
  color: purple;
}

%purple6 {
  background-color: white;
}

///////////Red///////////////////
%red1 {
  background-color: red;
}

%red2 {
  color: white;
}

%red3 {
  background-color: white;
}

%red4 {
  background-color: #a1a1a48c;
  color           : black;
}

%red5 {
  color: red;
}

%red6 {
  background-color: white;
}

//////////////////Yellow Dark//////////////
%yellowDark1 {
  background-color: #FFFF00;
}

%yellowDark2 {
  color: #616161;
  font-weight: 700;
}

%yellowDark3 {
  background-color: #484848;
}

%yellowDark4 {
  background-color: #555557;
  color           : white;
}

%yellowDark5 {
  color      : #FFFF00;
  font-weight: 800;
}

%yellowDark6 {
  background-color: #616161
}

//////////////////Blue Dark////////////////
%blueDark1 {
  background-color: #006595;
}

%blueDark2 {
  color: white;
}

%blueDark3 {
  background-color: #484848;
}

%blueDark4 {
  background-color: #555557;
  color           : white;
}

%blueDark5 {
  color: #006595;
}

%blueDark6 {
  background-color: white;
}

///////////Orange Dark///////////////
%orangeDark1 {
  background-color: orange;
}

%orangeDark2 {
  color: white;
}

%orangeDark3 {
  background-color: #484848;
}

%orangeDark4 {
  background-color: #555557;
  color           : white;
}

%orangeDark5 {
  color: orange;
}

%orangeDark6 {
  background-color: white;
}

///////////Green Dark///////////////
%greenDark1 {
  background-color: green;
}

%greenDark2 {
  color: white;
}

%greenDark3 {
  background-color: #484848;
}

%greenDark4 {
  background-color: #555557;
  color           : white;
}

%greenDark5 {
  color: green;
}

%greenDark6 {
  background-color: white;
}

///////////Purple Dark///////////////
%purpleDark1 {
  background-color: #6A1B9A;
}

%purpleDark2 {
  color: white;
}

%purpleDark3 {
  background-color: #484848;
}

%purpleDark4 {
  background-color: #555557;
  color           : white;
}

%purpleDark5 {
  color: #4a0079;
  font-weight: 800;
}

%purpleDark6 {
  background-color: white;
}

///////////Red Dark///////////////
%redDark1 {
  background-color: red;
}

%redDark2 {
  color: white;
}

%redDark3 {
  background-color: #484848;
}

%redDark4 {
  background-color: #555557;
  color           : white;
}

%redDark5 {
  color: red;
}

%redDark6 {
  background-color: white;
}